<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/signup.css">
	<title>Signup</title>
</head>
<body>
	<h1>Signup</h1>
	<form action="/client/submit" method="POST">
		<label for="name">Name : </label>
		<input type="text" id="name" name="name"><br>
		<label for="name">Email : </label>
		<input type="email" id="email" name="email"><br>
		<label for="name">Password : </label>
		<input type="password" id="password" name="password"><br>
		<input type="submit" value="SUBMIT">
	</form>
</body>
</html>